{% extends 'base.html' %}
{% load static %}

{% block title %} Texture Model | Page | View {% endblock %}

{% block content %}
    <style>
        .All_model_photos {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 400px;
            grid-gap: 5px;
        }

        .All_model_photos img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }


        @media only screen and (max-width: 768px) {
            .All_model_photos {
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 30vh;
            }
        }
    </style>
    <div class="All_model_photos">
        {% for item in model_list %}
            <div class="item_model">
                <a href="{% url 'Model:ModelDetailsView' item.id %}"><img src="{{ item.image.url }}" alt="{{ item.combined }}"/></a>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="Set_buttons">
            <div class="buttons">
                {% if page_obj.has_previous %}
                    <li class="Li_Page">
                        <a class="A_Page" href="?page={{ page_obj.previous_page_number }}">
                            <i class="bi bi-chevron-double-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_range %}
                    {% if num == '...' %}
                        <li class="Li_Page">...</li>
                    {% else %}
                        <li class="Li_Page">
                            <a class="A_Page {% if num == page_obj.number %}active{% endif %}" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
                    <li class="Li_Page">
                        <a class="A_Page" href="?page={{ page_obj.next_page_number }}">
                            <i class="bi bi-chevron-double-right"></i>
                        </a>
                    </li>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}


